<!doctype html>
<html>
<head>
    <title>Zerodha</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class=page>
        <h1>Search</h1>
        <input type="text" id="query">
        <div id="autocomplete"></div>
        <h1>Top 10</h1>
        <table>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{row["code"]}}</td>
                <td>{{row["name"]}}</td>
                <td>{{row["open"]}}</td>
                <td>{{row["high"]}}</td>
                <td>{{row["low"]}}</td>
                <td>{{row["close"]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        $("#query").on('input',function () {
            $("#autocomplete").html("");
            $.post("/search_autocomplete", { query: $("#query").val()})
            .done(function (data) {
                data = JSON.parse(data)
                data.forEach(element => {
                    var item = `<div onclick="loadData('${element}')">${element}</div>`;
                    $("#autocomplete").append(item)
                });
            });
        })

        function loadData(query) {
            $.post("/search", { query: query })
            .done(function (data) {
                data = JSON.parse(data)
                $("#autocomplete").html("");
                $("#autocomplete").html(`<table>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
            </tr>
            <tr>
                <td>${data.result.code}</td>
                <td>${data.result.name}</td>
                <td>${data.result.open}</td>
                <td>${data.result.high}</td>
                <td>${data.result.low}</td>
                <td>${data.result.close}</td>
            </tr>
            
            `);

            });
        }
    </script>
</body>
</html>